<div class="row justify-content-center h-100">
  <div class="col-12 col-lg-7 mt-lg-5">
    <div class="card p-3">

      <h2>Create a group</h2>

      <%= form_for(@group, url: groups_path) do |f| %>
        <%= render '/devise/shared/error_messages', resource: @group %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          Set minimum amount: 
          <%= check_box_tag 'minimum_amount' %>
        </div>

        <div class="form-group">
          <%= f.hidden_field :minimum_amount, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Group image' %>
          <%= f.file_field :avatar, class: 'form-control-file' %>
        </div>

        <%= f.submit 'Submit', class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

<script>
  document.getElementById("minimum_amount").addEventListener("click", (event) => {
    const minimumAmount = document.getElementById("group_minimum_amount");
    minimumAmount.value = 0;
    minimumAmount.type = event.target.checked ? "number" : "hidden";
  });

  console.log('done');
</script>