<nav class="card py-2 px-3 mb-4">
  <div class="d-flex justify-content-between align-items-center w-100">
    <%= link_to 'New', new_transaction_path %>
    <h2>
      $<%= @amount %>
    </h2>
  </div>
</nav>



<% @transactions.each do |transaction| %>
  <% transaction.groups.each do |group| %>
    <div class="card mb-2">
      <div class="card-header d-flex justify-content-between">
        <div>
          <%= transaction.name %>
        </div>
        <div>
          <%= transaction.amount %> 
        </div>
      </div>
      <div class="card-body">
      <h5 class="card-title"><%= group.name %></h5>
      </div>
    </div>
  <% end %>
<% end %>


